{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{! ------------------------------ Lesson 1 -------------------------------}}
<div class="p-5">
	<h1>Селекторы, часть 1</h1>

	<button type="button" class="btn btn-primary">Купити</button>

	<p class=" mt-3">
		Simple text for testing
	</p>
	<p class=" mt-3 box">
		Simple text for testing
	</p>
	<p class=" mt-3">
		Simple text for testing
	</p>
	<p class=" mt-3">
		Simple text for testing
	</p>
	<p id="user5" class=" mt-3">
		Simple text for testing
	</p>
	<p class=" mt-3">
		Simple text for testing
	</p>
	<h6>Heading</h6>
	<h6 id="user6">Heading</h6>
	<p class=" mt-3">
		Simple text for testing</p>
	<p class=" mt-3">
		Simple text for testing</p>
	<div class="bgrnd">
		Simple text for testing
		<ul type="square">
			<li>one</li>
			<li>two</li>
		</ul>
		<p>Еще один тест</p>

	</div>
	<div>
		<h3>Сестринский селектор</h3>
		<p>Почернеет только превый абзац. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quasi ut
			architecto aspernatur facilis
			minus voluptatum ipsam iusto rem provident.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus nobis quae!</p>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem quasi ut architecto aspernatur facilis
			minus voluptatum ipsam iusto rem provident.</p>
	</div>

</div>

<div class="p-5">
	<h2> Соседский селектор</h2>
	<strong> Это важно</strong> <br>
	<em>Главное, чтоб на одном уровне</em>
	<p>Это сеседский абзац, фиолетовый, на одном уровне с h2 </p>
	<div>
		<p>
			Этот абзац вложен в див, он снова красный. Вложенный - значит не соседский.
		</p>
	</div>
</div>

<div class="p-5">
	<h2> Эксперимент </h2>
	<strong> Хочу добраться</strong> <br>
	<em>к абзацу внутри дива через h2, который красный в прошлом примере.</em>
	<p> Будет рыжим цветом. А этот - фиолетовый.</p>
	<div>
		<p class="rudiy">
			Этот абзац вложен в див, он снова красный. Вложенный - значит не соседский.
		</p>
	</div>
</div>

<hr>