@import '/css/var.css';

@font-face {
	font-family: 'Segment';
	src: url(/font/Segment-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: 'Segment';
	src: url(/font/Segment-SemiBold.otf);
	font-weight: 600;
}

@layer normalize,  main, component, style;

@layer style {
	.card_button {
		background-color: red;
	}
}

@keyframes fly {
	from {
		top: 0;
		left: 0;

		background-color: red;
	}

	25% {
		top:500px;
		left: 500px;

		background-color: yellow;
		width: 100px;
	}

	50% {
		left: 0;
		
		background-color: green;
		width: 0px;
	}

	to {
		top: 0;
		right: 0;

		background-color: purple;
	}
}

/* ================================================================ */

.page {
	background: var(--color-white);
	padding: 0 15px;
	
	display: flex;
	justify-content: center;
}

.page_content {
	font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
	max-width: var(--page-width);
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 80px;

	/* padding-top: 110px; */
}

/* ================================================================ */

.header{
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
	align-items: center; /** MY */

	position: sticky;
	top: 0;
	/* left: calc(50% - var(--page-width) / 2); */
	
	width: 100%;
	max-width: var(--page-width);
	/* width: var(--page-width); */

	background-color: var(--color-white);
	z-index: 1;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background-color: var(--color-primary);

	width: 24px;
	height: 24px;
	border-radius: calc(var(--border-radius) / 2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}

.nav_link {
	color: var(--color-text);
	font-size: var(--size-def);
	text-decoration: none;
	line-height: 100%;

	transition-property: color;
	transition-duration: 1s;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	flex-direction: column;
	gap:  var(--space-xm);
}

.footer {
	padding:  var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top:  var(--space-l);
}

.footer_title {
	font-size:  var(--size-l);
	color: var(--color-title);
	display: block;
	margin-bottom:  var(--space-l);
	font-weight: var(--weight-title);
}

/* ================================================================ */

.hero {
	display: flex;
	gap: var(--space-xl);
	align-items: center;
	padding-bottom: var(--space-xl);
	border-bottom: 1px solid var(--color-border);
}

.hero_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.hero_title {
	color: var(--color-title);
	font-size: 50px;
	
	line-height: 1.2;
	font-weight: var(--weight-title);
	/* letter-spacing: -0.8px; */
}

.hero_text {
	color: var(--color-text);
	font-size: var(--size-l);
	
	line-height: 170%;
	font-weight: var(--weight-text);
	/* letter-spacing: -0.8px; */
}

.blog {
	display: flex;
	gap: var(--space-xl);
	padding-bottom: var(--space-xl);
	border-bottom: 1px solid var(--color-border);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: var(--space-l);
}

.card_image {
	height:  140px;
	width: 140px;
	border-radius: 50%;
}

.card_title {
	font-size: 32px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.card_text {
	font-weight: var(--weight-text);
	font-size: var(--size-def);
	color: var(--color-text);
	line-height: 150%;
}

@layer main {
	.button {
		display: inline-block;
		font-size: var(--size-def);
		text-decoration: none;
		text-align: center;
		padding: var(--space-m) var(--space-xm);
		border-radius: calc(var(--border-radius) / 2);
	
		/* transition: opacity 1s, color 1s; */
		transition-property: opacity, color;
		transition-duration: 1s;
	}
	
	.button:hover {
		opacity: 0.7;
		color: blue;
	}
}


@layer component {
	.card_button {
		color: var(--color-white);
		background-color: var(--color-primary);
	}
}


.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	padding: var(--space-l);
	border-radius: var(--border-radius);
}

.form_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}
.form_title {
	font-size: 27px;
	font-weight: var(--weight-title);
	color: var(--color-white);
}
.form_info {
	font-size: var(--size-def);
	font-weight: var(--weight-text);
	color: var(--color-white);
}

.form_button {
	background-color: var(--color-white);
	max-width: 160px;
	width: 100%;
	color: var(--color-text);
}

/* ============================ урок Абсолютное позиционорование ================================*/

.hero_slider_icon {
	background-color: var(--color-primary);
	
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: calc(var(--border-radius) / 2);
	color: var(--color-white);

	position: absolute;
	top: calc(50% - 12px);
}

.hero_slider_icon:hover {
	opacity: 0.7;
	cursor: pointer;
}

.hero_slider {
	position: relative;
}

.hero_slider_left {
	left: var(--space-l);
}

.hero_slider_right {
	right: var(--space-l);
}

.modal {
	position: fixed;
	top: 110px;
	left: calc(50% - 300px);
	/* left: 200px; */

	width: 600px;
	/* height: 100px; */
	background-color: black;
	color: white;
	padding: 24px;
	border-radius: 12px;
	line-height: 150%;

	z-index: 2;

	user-select: all;

	/* transition-property: top;
	transition-duration: 3s;
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-delay: 30ms; */

	animation-name: fly;
	animation-duration: 6s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-delay: 3s;
	/* animation-iteration-count: infinite; */
	animation-direction: normal;
	animation-fill-mode: backwards;
}

.modal_image {
	width: 600px;
	height: 700px;
	float: left;
	margin: 12px;
	margin-left: 0;

	background-color: aqua;
	object-fit: none;
	object-position: 10px 30px;
	border-radius: 24px;
}

.modal_text {
	clear: left;
}

.input {
	caret-color: red;
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius);
	padding: 6px;
}

:root {
	scroll-behavior: smooth;
}

body:hover .modal {
	/* top: 800px; */
	animation-play-state: running;
}

.blog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* ================================================================================================== */

@media all and (width <= 600px) {
	.blog {
		grid-template-columns: 1fr;
	}
}

/* @media  all and (min-width: 601px) and (max-width: 800px) лучше писать так, как ниже */
@media  all and (600px < width <= 800px) {
	.blog {
		grid-template-columns: repeat(2, 1fr);
	}
}

.form {
	gap: var(--space-l);
}

@media all and (width <= 600px) {
	.form {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.form_info {
		max-width: 300px;
		width: 100%;
		line-height: 150%;
	}

	.form_content {
		align-items: center;
		text-align: center;
	}
}

.hero_container {
	container-type: inline-size;
	container-name: hero;
}

@container hero (width < 960px) {
	.hero {
		flex-direction: column;	
	}
}

