:root {
	--textcolor: green;
	--spacemedium: 48px;
}

.page {
	background: #ffffff;
	padding: 0 15px;
}

.page_content {
	max-width: 960px;
	margin: 0 auto;
	font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
	padding: var(--spacemedium);
	border-bottom: 1px solid #dee2e6;
}

.logo {
	font-size: 17px;
}

.divider {
	margin: 0;
	height: 1px;
	background: #dee2e6;
}

.nav {
	display: block;
}

.nav_link {
	color: #343a40;
	font-size: 16px;
	text-decoration: none;
}

.nav_link:hover {
	text-decoration: underline;
	color: blue;
}

.nav_vertical > .nav_link {
	display: block;
}

.nav_inline > .nav_link:not(:last-child) {
	margin-right: var(--spacemedium);
}

.nav_vertical > .nav_link:not(:last-child) {
	margin-bottom: 12px;
}

.header_nav_right {
	margin-left: auto;
	width: fit-content;
}

.page_block:not(:last-of-type) {
	margin-bottom: 80px;
}

.footer {
	padding: var(--spacemedium) 0;
	border-top: 1px solid #dee2e6;
}

.footer_copyright {
	font-size: 14px;
	color: #6c757d;
	display: block;
	margin-top: 12px;
}

.footer_title {
	font-size: 20px;
	color: var(--textcolor, #212529);
	display: block;
	margin-bottom: 12px;
}

.hero_title {
	font-size: 56px;
	color: var(--textcolor, #212529);
	font-weight: 500;
	margin-bottom: 12px;
	text-align: center;
}

.hero_text {
	font-size: 20px;
	color: var(--textcolor, #212529);
	text-align: center;
	/* max-width: 585px; */
	margin: 0 auto;
	line-height: 160%;
}

.plans_card:not(:last-of-type) {
	margin-right: var(--spacemedium);
}

.card-header {
	padding: 12px;
	text-align: center;
	font-size: var(--spacemedium);
	color: var(--textcolor, #212529);
}

.card-body {
	padding: var(--spacemedium);
}

.card_price_amount {
	font-size: 40px;
	color: var(--textcolor, #212529);
}

.card_price_duration {
	font-size: 20px;
	color: #6c757d;
	vertical-align: 12px;
}

.card_block {
	text-align: center;
	/* list-style-type: upper-alpha; */
	list-style-position: inside;
	list-style-image: url('/fav/favicon-16x16.png');
}

.card_block:not(:last-of-type) {
	margin-bottom: var(--spacemedium);
}

.card_description_item {
	font-size: 16px;
	color: var(--textcolor, #212529);
	display: list-item;
}

.card_description_item:not(:last-of-type) {
	margin-bottom: 12px;
}

.card_button {
	display: block;
	width: 100%;
	font-size: 19px;
	padding: 9px;
}

.card {
	border: 2px solid blue;
	border-radius:0 30px;
	box-shadow: 10px 10px 25px 0px rgba(0, 0, 255, 0.534);
	opacity: 50%;
}

.card:hover {
	/* outline: 2px solid blue; */
	outline-offset: 5px;
	box-shadow: 10px 10px 25px 0px rgba(0, 0, 255, 1);
	cursor: crosshair;
	opacity: 100%;
}

.btn {
	border-radius:25px;
}

.btn:hover {
	box-shadow: 10px 10px 25px 0px rgba(0, 0, 255, 0.445);
}

h1 {
	text-shadow: 0px 0px 8px rgba(0, 0, 255, 0.651);
}

.plans_card:nth-child(2) {
	/* background-color: rgb(255, 230, 201); */
	/* display: none; */
	visibility: collapse;
}

p {
	background-color: rgb(224, 234, 255);
	max-width: 800px;
	width: 300px;
	max-height: 800px;
	height: 150px;
	overflow: auto;
	resize: both;
}

.hero_text{
	/* background-image: url(/img/photo2.jpg); */
	/* background-attachment: local; */
	height: 300px;
	width: 300px;
	overflow: auto;
	background-color: transparent;
	border-image-source: url(/img/photo.jpg);
	/* border-image-source: url(/img/circle-1.png); */
	border-image-width: 5% 10%;
	border-image-slice: 5% 10%;
	border-image-repeat: space;
}

.page {
	background-color: rgba(255, 255, 255, 0.568);
}

body{
	/* background-image: conic-gradient(from 0deg at center, white 0%, yellow 25%, red 50%); */
	/* background-image: url(/img/circle-1.png); */
	background-repeat: no-repeat;
	background-image: url(/img/photo2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

/* .table tr {
	border: 1px solid #343a40;
} */

.table tr td {
	border: 1px solid #590364;
	border-bottom-color: red;
	border-right-color: green;
}

.table {
	table-layout: fixed;
	width: 600px;
	border-collapse: unset;
	border-spacing: 10px;
	caption-side: top;
	empty-cells: hide;
}

/* .nav_link::before {
	content: open-quote;
}

.nav_link::after {
	content: close-quote;
} */

/* -----Интересная фмшка!----- */
/* !!!тут мы, науконец, можем вставить картинку так, чтоб, независимо от ее исходного размера, 
она впихивалась в 10х10!!! */
.nav_link::before, 
.nav_link::after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-image: url('/img/circle-1.png');
}

.nav_link::before {
	margin-right: 10px;
}

.nav_link::after {
	margin-left: 10px;
}

.calc {
	width: 600px;
	margin-left: calc(50% - (600px/2));
}